body{
  background: #F7F7F7;
}
body.nav-sm .container.body .left_col {
  height: auto;
}
.left_col{
  background: #2A3F54;
}
.top_nav .navbar-right{
  width: 100%;
}
h3.faculty-name{
	text-overflow: ellipsis;
    overflow: hidden;
}
.tile-stats.faculty{
	height: 96px;
}
.info-number .badge{
  top:-1px;
}

.btn-success {
    background: #26B99A;
    border: 1px solid #169F85;
}
.modal-footer .btn+.btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

.error,
.error .help-block,
.error .control-label,
.error .radio,
.error .checkbox,
.error .radio-inline,
.error .checkbox-inline,
.error.radio label,
.error.checkbox label,
.error.radio-inline label,
.error.checkbox-inline label {
  color: #a94442;
}
.form-control.error{
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-control.error:focus{
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.input-group-addon.error {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.error .form-control-feedback {
  color: #a94442;
}
.form-control.valid {
  border-color: #3c763d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-control.valid:focus {
  border-color: #2b542c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.input-group-addon.valid {
  border-color: #3c763d;
  background-color: #dff0d8;
}
.alert-warning {
  color: #666;
  background-color: rgba(243, 156, 18, 0.5);
  border-color: rgba(243, 156, 18, 0.5);
}

.table-scroll{
  height: 300px;
  overflow-y: scroll;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* NEW LOOK */

.userView .bar-info {
  width: 220px;
  margin-left: auto;
  margin-right: auto;  
  text-align: center !important;
}

#info-user span{
  font-size: 12pt !important;
  font-weight: bold !important;
}

#info-faculty span, #info-endcycle span{
  font-size: 9pt !important;
}

.bar-info span {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
}

.main-container-sumajg{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.page-content-sumajg h3 {
  font-size: 20pt !important;
}

td .btn-primary, td .btn-danger {
  height: 25px !important;
  width: 25px !important;
}

.bar-top{
  background-color: #3F5367;
}

.page-content-sumajg label, .form-group label {
  color: #73879C !important;
  /*#ECF0F1; #FCFCFC*/
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 1.471 !important;
}

textarea {
  resize: none;
}

.page-content-sumajg input[type="checkbox"], .modal-body input[type="checkbox"] {
  position: relative;
  left: 0px;
  opacity: 1;
}
.page-content-sumajg input[type="text"], .modal-body input[type="text"] {
  font-size: 10pt !important;
}

.userView {
  background-color: #69C1A5;
}

.modal {
  /*display: table !important; */
  max-width : 100% !important;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
}

.modal-content {
  border: none;
  border-radius: 0px;
  box-shadow: none;
}


.modal-body {
  border-bottom: 1px solid #e5e5e5;
}

.modal .modal-footer{
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: #ffffff;
}

.btn-success, .btn-default {
  margin-right: 10px !important;
}

.bar-top .button-collapse:hover {
  color: #ffffff;
  /*text-decoration: underline;*/
}

/*logout btn*/

.nav-wrapper .logout i, .nav-wrapper .logout span {
  line-height: 25px !important;
}

/*Necesario para todos los radio buttons*/
input[type="radio"] {
  position: relative !important;
  left: 0px !important;
  opacity: 1 !important;
}

.no-border{
  border: none;
}

.centered{
  text-align: center;
}
