.remodal-close {
	right: 0;
	left: inherit;
}

.flex-container {
	border: 0;
	display: flex;
}

.flex-container.has-space-between {
	justify-content: space-between;
}

.flex-container.has-flex-end {
	justify-content: flex-end;
}

.flex-container.is-wrap {
	flex-wrap: wrap;
}

.input-container {
	margin: 10px 0;
	width: 100%;
}

.label-input {
	width: 100%;
	text-align: left;
}

.input-filter {
	width: 100%;
} 

.flex-element.has-select {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tabs-page {
	display: flex;
	padding: 5px;
	padding-bottom: 0;
	border-bottom: 1px solid rgba(52, 73, 94, 0.88);
}

.tabs-page>a{
	text-decoration: none;
}

.tab-page-wrapper {
	font-size: 16px;
	margin-bottom: -1px;
}

.tab-page-wrapper.active {
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: rgba(52, 73, 94, 0.88);
	color: #ddd;
}

.tab-page {
	list-style: none;
	margin: 10px 20px;
}

.tab-content-container {
	padding: 20px;
	padding-top: 0;
}

@media only screen and (min-width:480px){
	.label-input {
		max-width: 380px;
	}

	.input-filter {
		max-width: 380px;
	}
}

@media only screen and (min-width:720px){
	.input-container {
		width: 48%;
	}

	.label-input {
		max-width: 380px;
	}

	.input-filter {
		max-width: 380px;
	}
}